.order__details--close {
    position: absolute;
	right: 0;
	font-size: 30px;
}
.order__details {
    display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background-color: gainsboro;
	width: 80%;
	height: 90%;
	overflow: auto;
}
.order__details {
    border: 1px solid gray;
	text-align: center;
}
.order__details > h2 {
    margin-top: 20px;
}
.order__details > table {
    margin: 20px 5%;
	width: 90%;
}
.order__details > table,
th,
td {
	border: 1px solid gray;
	border-collapse: collapse;
}
.order__details h4,
.order__details h3 {
	margin-top: 20px;
}
.order__details > div {
    margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.enable {
    display: block;
}
