@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
	box-sizing: border-box;
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Login form */
.account {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  z-index: 2;
  border: 1px solid gray;
  background-color: gainsboro;
  transform: translate( -50% ,  -50%);
  box-shadow: 0px 0px 5px 2px #888888;
}
#login {
  width: 300px;
  height: 350px;
}
#repass {
  height: 400px;
}
.enable {
  display: block;
}
.disable {
  display: none;
}
.account > div:first-child {
  display: flex;
  justify-content: space-between;
}
.account > div:first-child > button {
  font-size: 30px;
}
.account form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account > form > h1 {
  margin-top: 20px;
  color: #1bc323;
}
.account > form > input {
  width: 250px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  margin-top: 20px;
}
.account > form > div {
  display: flex;
  margin-top: 20px;
}
.account > form > div > input{
  height: 20px;
  cursor: pointer;
}
.account > form > div > label{
  padding: 0 10px;
  font-weight: bold;
  cursor: pointer;
}
.account > form > input:last-child {
  width: 150px;
  height: 35px;
}

/* HEADER START */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: auto;
	background-color: white;
	z-index: 1;
	border-bottom: 1px solid silver;
  max-width: 100vw;
}
.header > a {
	text-decoration: none;
	font-size: 30px;
}
.header__right {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
.header__right > div {
  position: relative;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.header__right > div > span{
  background-color: green;
  position: absolute;
  width: 0;
  top: 80%;
  height: 3px;
  border-radius: 3px;
  transition: 0.25s;
}
.header__right > div:hover > span {
  width: 90%;
}
.header__right a {
  cursor: pointer;
	color: #993d3a;
	font-size: 20px;
	text-decoration: none;
}
.header__list {
  display: none;
	position: relative;
}
.header__list > ul {
  padding: 0;
  background-color: aliceblue;
	position: absolute;
	top: 20px;
  right: -20px;
}
.header__list > ul > li {
  position: relative;
  display: flex;
  list-style-type: none;
  width: 110px;
  padding: 10px 0px ;
}
.header__list > ul > li > a{
  padding: 0 5px;
}
.header__list > ul > li > span{
  background-color: green;
  position: absolute;
  width: 0;
  top: 80%;
  height: 3px;
  border-radius: 3px;
  transition: 0.25s;
}
.header__list > ul > li:hover > span {
  width: 90%;
}
#list-category::before {
  content: "";
  position: absolute;
  top: 0;
  height: 70px;
  width: 100px;
}
#list-category:hover > .header__list {
  display: block;
}
#list-account::before {
  content: "";
  position: absolute;
  top: 0;
  height: 70px;
  width: 100px;
}
#list-account:hover > .header__list {
  display: block;
}
#list-search {
  position: relative;
}
.header__search {
  display: none;
  width: 300px;
  height: 50px;
  background-color: white;
	position: absolute;
  top: 30px;
  right: 0;
  margin-top: 20px;
}
.header__search > input {
  height: 30px;
  width: 50px;
  background-color: mediumseagreen;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  color: white;
}
.header__search .search__content {
  width: 200px;
  background-color: white;
  border: 1px solid mediumseagreen;
  color: black;
  padding: 5px; 
} 
#list-search::before {
  content: "";
  position: absolute;
  top: 0;
  height: 70px;
  width: 100px;
}
#list-search:hover > .header__search {
  display: flex;
}
/* HEADER END */

.container {
	margin-top: 40px;
}
#btn_go_to_top {
	display: none;
	cursor: pointer;
	position: fixed;
	background-color: white;
	padding: 5px;
	font-size: 20px;
	right: 20px;
	bottom: 20px;
	border-radius: 10px;
	z-index: 1;
}
#btn_go_to_top:hover {
  background-color: #1bc323;
}
.btn__cart {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 100px;
  right: 20px;
}
.btn__cart > img {
  width: 50px;
  height: 50px;
}
.btn__cart > span {
  position: absolute;
  top: 0;
  right: 35px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 10px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1bc323;
  font-size: 20px;
}
.footer > .footer__item {
  width: 25%;
  padding: 40px;
}
.footer__item > div {
  display: flex;
  flex-direction: column;
}
.footer__item:last-child {
  width: 50%;
}
.footer a {
  text-decoration: none;
}


.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	text-align: center;
}
.row__item {
	margin: 10px;
  position: relative;
}
.row__item > div > img {
  cursor: pointer;
	width: 220px;
	height: 220px;
}
.row__item > div:last-child {
  max-width: 220px;
  padding: 10px;
  text-align: left;
}
.row__item > div > h2 {
  color: red;
}
.row__item > div > a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.product__hover {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 220px;
  height: 220px;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.product__hover > a {
  z-index: 1;
}
.product__hover > a:first-child {
  display: block;
  text-decoration: none;
  background-color: rgb(24, 107, 35);
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  height: 30px;
  margin: 10px 10px 10px 0px;
}
.product__hover > a > img {
  width: 30px;
  height: 30px;
}
.product__over {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 220px;
  height: 220px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.product__over > a{
  display: block;
  text-decoration: none;
  text-shadow: 1px #1bc323;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  width: 60%;
  height: 30px;
  margin: 0 20%;
}
.category__item {
  text-align: center;
}
.row__item--img:hover > .product__hover {
  display: flex;
}
/* .row__item > img:hover ~ .product__hover > a{
  z-index: -1;
} */
.row__item--img:hover {
  z-index: -1;
}
.product__hover > a:hover {
  background-color: #1bc323;
}

.btn {
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.btn-green {
  background-color: green;
  color: aliceblue;
}
.btn-green:hover {
  background-color: #1bc323;
}
.btn-strest {
  background-color: gainsboro;
  color: black;
}
.btn-strest:hover {
  background-color: gray;
  color: aliceblue;
}
@media (max-width: 768px) {
  .container {
    margin-top: 125px;
  }
  .footer > .footer__item {
    width: 80%;
  }
  .row__item > div:last-child {
    max-width: 150px;
  }
  .header__search {
    right: -20px;
  }
  .row__item > div > img {
    width: 150px;
    height: 150px;
  }
  .product__hover, .product__over {
    width: 150px;
    height: 150px;
  }
}
