@{
    ViewData["Title"] = "Thông tin";
}
@section css {
<link rel="stylesheet" href="~/css/contact.css">
}
@section Scripts {
<script src="~/js/contact.js"></script>
}
<h1>Shop bán phụ kiện máy tính</h1>
<div>
    <p>Địa chỉ: <a href="https://goo.gl/maps/phM6HfxPaqHtfpUz5" target="_blank" title="Click để xem vị trí trên bản đồ">170 An Dương Vương, P.Nguyễn Văn Cừ, Tp.Quy Nhơn, 
    Bình Định</a></p>
    <p>SĐT: <a href="tel:0987654321">0987654321</a></p>
    <p>Email: <a href="mailto:dia.chi.email@email.abcxyz">dia.chi.email@email.abcxyz</a></p>
    <p>Fanpage: <a href="https://www.facebook.com/dhquynhon">https://www.facebook.com/dhquynhon</a></p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7750.630945571921!2d109.2157012!3d13.7598394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6cebf252c49f%3A0xa83caa291737172f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBRdXkgTmjGoW4!5e0!3m2!1svi!2s!4v1638974509712!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>